[Unit]
Description=elvesro character server
After=syslog.target network.target mysqld.service elvesro-login.service

[Service]
WorkingDirectory=/home/rathena/Desktop/elvesro
User=rathena
ExecStart=/home/rathena/Desktop/elvesro/char-server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target