[Unit]
Description=elvesro map server
After=syslog.target network.target mysqld.service elvesro-login.service elvesro-char.service

[Service]
WorkingDirectory=/home/rathena/Desktop/rAthena
User=rathena
ExecStart=/home/rathena/Desktop/elvesro/map-server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target